nav(data-function='interiorNav', data-interior-nav-offset='0')
	div(data-function="stickey")
		div(data-function='accordion', data-always-show-one='true', data-stickey="content")
			a.active(href='#', data-position='0', role='tab', aria-expanded='true')
				h3 Site
			ul(role='tabpanel', aria-hidden='false')
				li: a(href='#', data-position='0.0') Settings
				li: a(href='#', data-position='0.1') Layouts
			a(href='#', data-position='1', role='tab', aria-expanded='false')
				h3 Pages
			a(href='#', data-position='2', role='tab', aria-expanded='false')
				h3 Factories
			ul(role='tabpanel', aria-hidden='true')
				li: a(href='#', data-position='2.0') Create
				li: a(href='#', data-position='2.1') Preivew
			a(href='#', data-position='3', role='tab', aria-expanded='false')
				h3 Bodies
			a(href='#', data-position='4', role='tab', aria-expanded='false')
				h3 Robots