head
	title= title || 'Noodles & Bread'
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='description', content= description || 'Noodles & Bread: Know What\'s Good for Ya.')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	meta(name='author', content='Joe Lissner')

	//// Styles & Fonts ///////////////////////////////////////////////////////
	// not hosted local
	for style in site.styles ? site.styles : []
		if !style.isDisabled
			link(rel="stylesheet", href=style.src)

	// hosted local
	link(rel='stylesheet', href='3rdParty/codemirror/codemirror.css')
	link(rel='stylesheet', href='/styles/font-awesome/css/font-awesome.min.css', type='text/css')
	link(rel='stylesheet', href='/styles/styles.css', type='text/css')

	

	//// Scripts //////////////////////////////////////////////////////////////
	// not hosted local
	for script in site.scripts ? site.scripts : []
		if !script.isDisabled
			script(type='text/javascript', src=script.src)

	// hosted local
	script(type='text/javascript', src='/3rdParty/codemirror/codemirror.js')
	script(type='text/javascript', src='/3rdParty/codemirror/mode/markdown/markdown.js')
	script(type='text/javascript', src='/3rdParty/codemirror/mode/pug/pug.js')
	script(type='text/javascript', src='/3rdParty/datetimepicker/bootstrap-datetimepicker.min.js')
	script(type='text/javascript', src='/components/duck/duck.min.js')
	script(type='text/javascript', src='/components/accordion/accordion.min.js')
	script(type='text/javascript', src='/components/banner/banner.min.js')
	script(type='text/javascript', src='/components/copy/copy.min.js')
	script(type='text/javascript', src='/components/fileManager/fileManager.min.js')
	script(type='text/javascript', src='/components/filter/filter.min.js')
	script(type='text/javascript', src='/components/icon/icon.min.js')
	script(type='text/javascript', src='/components/interiorNav/interiorNav.min.js')
	script(type='text/javascript', src='/components/robots/robots.min.js')
	script(type='text/javascript', src='/components/scroll/scroll.min.js')
	script(type='text/javascript', src='/components/stickey/stickey.min.js')
	script(type='text/javascript', src='/components/sortable/sortable.min.js')
	script(type='text/javascript', src='/components/stopProp/stopProp.min.js')
	script(type='text/javascript', src='/components/tabs/tabs.min.js')
	script(type='text/javascript', src='/components/toggle/toggle.min.js')
	if (user && user.isAdmin)
		script(type='text/javascript', src='/components/duck/filepicker/filepicker.min.js')
		script(type='text/javascript', src='/components/duck/form/form.min.js')
	
	script(type='text/javascript', src='/js/scripts.js')