html
	include shared/head.pug
	block head

	body#Noodles
		include shared/flash.pug

		block content
			!= layout


		if robots
			script.
				void function initRobots($){
					const $site = $('#Noodles');
					const robots = !{JSON.stringify(robots)};
					const params = !{JSON.stringify(params)};

					$site.on('homesRegistered', () => {
						$site.trigger('loadRobots', [robots, params])
					});
				}(jQuery.noConflict());
				