html
	include shared/head.pug
	block head

	body#Noodles
		include shared/flash.pug

		header.site-header
			block header
				div(robot-home="header")
					include shared/header.pug
		main.site-main
			block content

		footer.site-footer
			block footer
				div(robot-home="footer")
					include shared/footer.pug

		if robots
			script.
				void function initRobots($){
					const $site = $('#Site');
					const robots = !{JSON.stringify(robots)};

					$site.on('homesRegistered', () => {
						$site.trigger('loadRobots', [robots])
					});
				}(jQuery.noConflict());
				