extends ../layout.pug

block content
	.container
		.row
			.col-xs-12.col-sm-8.pull-right
				div(robot-home='main')
					h1 This is default content
			.col-xs-12.col-sm-4
				div(robot-home='nav')
					h2 This is default content