.form-group(duck-type='date', duck-field= name)
	label.col-sm-2.control-label= title || name
	.col-sm-10
		.input-group
			input.form-control.bs-date(type='date', placeholder= name, duck-value, value= value, required= required)
			.input-group-addon
				i.fa.fa-calendar(aria-hidden='true')