.form-group(duck-type='bool', duck-field= name)
	label.col-sm-2.control-label= title || name
	.col-sm-10
		for option, i in options ? options : []
			.radio
				label
					input(type='radio', checked= value ? value === option : i === 0, name= name)
					| #{option}