.form-group(duck-type='string' duck-field=name)
	label.col-sm-2.control-label= title || name
	.col-sm-10
		input.form-control(type='text', placeholder= title || name, duck-value, value=value, required= required)