.form-group(duck-type='array', duck-field= name)
	label.col-sm-2.control-label= title || name
	.col-sm-10
		div
			for v in values ? values : [null]
				.array-item(duck-type='wysiwyg')
					.input-group
						.input-group-addon(data-sort='handle')
							i.fa.fa-arrows-v(aria-hidden='true')
						.simpleMDE
							textarea(required= required)= v
						.input-group-btn
							button.btn.btn-danger(duck-button='delete')
								i.fa.fa-times(aria-hidden='true')
		p.text-right
			button.btn.btn-default(duck-button='add') Add #{name}