.no-js{
	[role="tabpanel"]{
		display: block !important;
	}
}

[data-function='accordion']{
	> [role='tab'] {
		cursor: pointer;

		.fa{
			transition: all .27s ease-out;
			margin-right: @gw-Sm;
		}
	}

	> [role='tabpanel'] {
		.clear;
	}
}
