[duck-edit-form='view'] {
		.duck-view-hidden {
			display: none !important;
		}
	}
		[duck-edit-form='edit'] {
			.duck-edit-hidden {
				display: none;
			}
		}

[duck-type='array']{
	> [duck-type='string'],
	> [duck-type='number'],
	> [duck-type='select'] {
		display: flex;

		.form-control{
			border-radius: @br-Md 0 0 @br-Md;
		}

		[duck-button="delete"] {
			border-radius: 0 @br-Md @br-Md 0;
		}

		&:first-of-type {
			.form-control{
				border-radius: @br-Md;
			}

			[duck-button="delete"] {
				display: none;
			}
		}
	}
}

[duck-button='add']:empty {
	color: @brand-success;
	border: none;
	background: none;

	&:after {
		content: '\f067';
		font-family: FontAwesome;
	}
}

[duck-button='delete']:empty {
	&:after {
		content: '\f068';
		font-family: FontAwesome;
	}
}